<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content class="conteudo">
    <app-user-management></app-user-management>
    <!-- <mat-tab-group
      animationDuration="0ms"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
      [selectedIndex]="tabs.length - 1"
    >
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <span>{{ tab.nomeTab }}</span>
          <button
            mat-icon-button
            matSuffix
            matTooltip="Close"
            (click)="fecharTab(index)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
        <div [ngSwitch]="tabs[index].nomeTab">
          <app-tabela-tickets
            [tipoTicket]="tipoTicket"
            *ngSwitchCase="'Incident Queue'"
            (eventoSelecionarTicket)="receberTicketSelecionado($event)"
          ></app-tabela-tickets>
          <app-tabela-tickets
            [tipoTicket]="tipoTicket"
            *ngSwitchCase="'Request Queue'"
            (eventoSelecionarTicket)="receberTicketSelecionado($event)"
          ></app-tabela-tickets>
          <app-user-management
            *ngSwitchCase="'User Management'"
          ></app-user-management>
          <app-technical-groups-management
            *ngSwitchCase="'Technical Groups Management'"
          ></app-technical-groups-management>
          <app-categoria-management
            *ngSwitchCase="'Configuration Item Management'"
          ></app-categoria-management>
          <app-tag-management
            *ngSwitchCase="'Tag Management'"
          ></app-tag-management>
          <app-tickets
            *ngSwitchDefault
            [ticketSelcionado]="tab.data"
            [numeroTicket]="tab.numeroTicketSegundoTipo"
          ></app-tickets>
        </div>
      </mat-tab>
    </mat-tab-group> -->
  </mat-drawer-content>
</mat-drawer-container>
