<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <app-menu></app-menu>
  </mat-drawer>
  <mat-drawer-content class="conteudo">
    <mat-tab-group
      animationDuration="0ms"
      mat-stretch-tabs="false"
      mat-align-tabs="start"
    >
      <!-- <mat-tab *ngFor="let prueba of pruebas; let index = index">
        <ng-template mat-tab-label>
          <span>{{ prueba }}</span>
          <button mat-icon-button matSuffix matTooltip="Close">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
        <app-tickets></app-tickets>
      </mat-tab> -->
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label>
          <span>{{ tab }}</span>
          <button
            mat-icon-button
            matSuffix
            matTooltip="Close"
            (click)="fecharTab(index)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
        <app-tickets [numeroTicket]="tab"></app-tickets>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>
