<mat-accordion multi>
  <mat-expansion-panel *ngFor="let opcaoMenu of menuOpcoes">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ opcaoMenu.nome }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">
      <mat-list-item
        *ngFor="let opcao of opcaoMenu.opcoes"
        (click)="enviarAcaoDoMenu(opcao)"
      >
        <span class="opcao">
          {{ opcao.nome }}
        </span>
      </mat-list-item>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
