<div class="id-status-ticket">
  <mat-form-field appearance="outline" class="formulario-ticketID">
    <mat-label>Ticket ID:</mat-label>
    <input matInput maxlength="9" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="formulario-ticketID">
    <mat-label>Status:</mat-label>
    <input matInput value="Open" disabled class="status" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="formulario-ticketID">
    <mat-label>Date:</mat-label>
    <input matInput value="24/06/2024" disabled class="status" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="formulario-ticketID">
    <mat-label>Age:</mat-label>
    <input matInput value="00:00:05" disabled class="status" />
  </mat-form-field>
</div>

<mat-form-field appearance="outline" class="formulario-titulo">
  <mat-label>Title:</mat-label>
  <input matInput />
</mat-form-field>

<mat-card class="formulario-assignment-container" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Assignment</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div appearance="outline" class="formulario-assignment">
      <div class="usuario-assignment">
        <mat-form-field appearance="outline" class="input-assignment">
          <mat-label>Reported by:</mat-label>
          <input matInput class="userID" maxlength="7" />
          <button mat-icon-button matSuffix matTooltip="Search user">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button matSuffix matTooltip="User data">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-icon-button matSuffix matTooltip="User history">
            <mat-icon>reorder</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-assignment">
          <input
            matInput
            class="user-nome"
            disabled
            value="Danilo Pezo Mendoza"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-assignment">
          <mat-label>Reported for:</mat-label>
          <input matInput class="userID" maxlength="7" />
          <button mat-icon-button matSuffix matTooltip="Search user">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button matSuffix matTooltip="User data">
            <mat-icon>perm_identity</mat-icon>
          </button>
          <button mat-icon-button matSuffix matTooltip="User history">
            <mat-icon>reorder</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-assignment">
          <input
            matInput
            class="user-nome"
            disabled
            value="Danilo Pezo Mendoza"
          />
        </mat-form-field>
      </div>

      <div class="group-assignment">
        <mat-form-field appearance="outline" class="input-assignment">
          <mat-label>Assigned group:</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-assignment">
          <mat-label>Managed by:</mat-label>
          <input matInput disabled />
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-assignment">
          <mat-label>Wait on External:</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="formulario-description-container" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Description</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field
      appearance="outline"
      class="input-assignment description-area-texto"
    >
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="formulario-personal-data-container" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Personal Data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field
      appearance="outline"
      class="input-assignment description-area-texto"
    >
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<div class="categorization-tags-container">
  <mat-card class="formulario-categorization-container" appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>Categorization</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="input-categorization">
        <mat-label>Reported CI:</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-categorization">
        <mat-label>Affected CI:</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="formulario-tags-container" appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>Tags</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline" class="input-tags">
        <mat-label>Tag 1:</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-tags">
        <mat-label>Tag 2:</mat-label>
        <input matInput />
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>

<mat-card class="formulario-solution-container" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Solution</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field
      appearance="outline"
      class="input-assignment description-area-texto"
    >
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card class="formulario-solution-container" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Personal Data-Solution</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field
      appearance="outline"
      class="input-assignment description-area-texto"
    >
      <textarea matInput rows="5"></textarea>
    </mat-form-field>
  </mat-card-content>
</mat-card>
