$fundo-ticket: #fafafa;

@mixin formulario {
  margin: 0 0 0 2em;
  width: calc(100% - 4em);
  font-size: 12px;
  background-color: $fundo-ticket;
}

.formulario-ticketID {
  @include formulario();
  width: 150px;
  margin-top: 1.5em;

  .status {
    color: black;
  }
}

.formulario-titulo {
  @include formulario();

  .nome-input {
    font-size: 15px;
  }
}

.formulario-assignment-container {
  @include formulario();
  margin-top: 0;
  margin-bottom: 1em;

  .formulario-assignment {
    width: 100%;
    display: flex;

    .input-assignment {
      width: 70%;

      .userID {
        text-transform: uppercase;
      }
    }

    .user-nome {
      font-size: 14px;
      color: black;
    }

    .usuario-assignment,
    .group-assignment {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
}

.formulario-description-container,
.formulario-personal-data-container,
.formulario-solution-container {
  @include formulario();
  margin-top: 0;
  margin-bottom: 1em;

  .description-area-texto {
    width: 100%;
    font-size: 12px;
  }
}

.categorization-tags-container {
  @include formulario();
  display: flex;
  gap: 10%;
  margin-bottom: 1em;

  .formulario-categorization-container,
  .formulario-tags-container {
    width: 45%;
    background-color: $fundo-ticket;
    .input-categorization,
    .input-tags {
      margin-right: 10px;
    }
  }
}

input:read-only {
  cursor: default;
}
